/.idea
/.vscode
/.DS_Store

/vendor
/backend/vendor

/node_modules
/admin-dashboard/node_modules
/site-front/node_modules

/backend/storage/*.key
/backend/storage/app/*
/backend/storage/framework/cache/*
/backend/storage/framework/sessions/*
/backend/storage/framework/views/*
/backend/storage/logs/*

/backend/.env
/backend/.env.*

/backend/public/storage

/site-front/.nuxt
/site-front/.output
/site-front/.nitro

/admin-dashboard/dist
/admin-dashboard/.vite
/admin-dashboard/.env
/admin-dashboard/.env.*
!/admin-dashboard/.env.example

composer.lock
package-lock.json


